source "$SIFLI_SDK/Kconfig.v2"
source "$SIFLI_SDK/customer/boards/Kconfig.v2"
source "H:/individual/Code/SiFli/SiFli-SDK/customer/boards/sf32lb52-lchspi-ulp/hcpu/Kconfig.board"
osource "H:/individual/Code/SiFli/SiFli-SDK/example/flash_table/sf32lb52x_common_v2/sf-pkgs/Kconfig.conandeps"
source "H:/individual/Code/SiFli/SiFli-SDK/example/flash_table/sf32lb52x_common_v2/Kconfig.proj"