H:\individual\Code\SiFli\SiFli-SDK\Kconfig.v2
H:\individual\Code\SiFli\SiFli-SDK\customer\boards\Kconfig.v2
H:\individual\Code\SiFli\SiFli-SDK\customer\boards\Kconfig_drv
H:\individual\Code\SiFli\SiFli-SDK\customer\boards\Kconfig_lcd
H:\individual\Code\SiFli\SiFli-SDK\customer\boards\Kconfig_lcd_fpga
H:\individual\Code\SiFli\SiFli-SDK\customer\boards\Kconfig_soc
H:\individual\Code\SiFli\SiFli-SDK\customer\boards\sf32lb52-lchspi-ulp\Kconfig.board
H:\individual\Code\SiFli\SiFli-SDK\customer\boards\sf32lb52-lchspi-ulp\hcpu\Kconfig.board
H:\individual\Code\SiFli\SiFli-SDK\customer\boards\sf32lb52-lchspi-ulp_base\Kconfig.board
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\audio\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\bluetooth\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\buzzer\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\charger\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\encoder\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\gps\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\motor\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\nand\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\nor\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\pa\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\pmic_controller\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\rgb\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\sd\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\sensor\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\vibrator\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\customer\peripherals\wifi\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\CMSIS\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\CmBacktrace-v1.3.0\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\FlashDB\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\SEGGER_SystemView-master\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\WebRTC_audio_processing\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\cJSON-1.7.17\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\cherryusb\Kconfig.rttpkg
H:\individual\Code\SiFli\SiFli-SDK\external\coremark\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\cwm_lib\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\easytlv\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\faad2\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\ffmpeg\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\freetype\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\fsck\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\jpeg_codec\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\libhelix-mp3\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\libogg-1.3.6\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\lvgl_v8\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\lvgl_v8\Kconfig_v8
H:\individual\Code\SiFli\SiFli-SDK\external\lvgl_v9\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\lz4\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\mbedtls\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\mbedtls_228\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\micropython\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\nanopb\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\opus-1.4\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\quickjs\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\rlottie\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\rpmsg-lite\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\sensor-lib\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\state_machine-latest\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\tinymp3\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\vglite\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\webclient\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\external\wpa_supplicant-rtos\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\audio\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\audio\anyka\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\Kconfig.hw
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.adv
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.iso
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.tinycrypt
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\Kconfig.zbt
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.aics
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.ascs
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.bap
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.cap
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.ccp
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.csip
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.gmap
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.has
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mcs
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mctl
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.micp
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.mpl
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.pacs
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.pbp
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.tbs
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.tmap
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.vcp
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\audio\Kconfig.vocs
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\common\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig.gatt
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\Kconfig.l2cap
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\host\classic\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\lib\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\mesh\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\mesh\shell\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.cts
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.dis
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.hrs
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\Kconfig.tps
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\bas\Kconfig.bas
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\ias\Kconfig.ias
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\nus\Kconfig.nus
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\services\ots\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\bluetooth\zephyr_bt\settings\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\coredump\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\file_logger\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\lvgl\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\metrics_collector\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\middleware\profiler\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\env\packages\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\env\packages\packages\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\env\packages\packages\iot\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\env\packages\packages\iot\netutils\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\env\packages\packages\misc\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\env\packages\packages\misc\samples\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\env\packages\packages\misc\samples\network_samples\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\cplusplus\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\dfs\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\drivers\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\finsh\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\libc\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\net\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\net\at\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\net\lwip\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\net\netdev\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\net\sal\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\components\utilities\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\libcpu\Kconfig
H:\individual\Code\SiFli\SiFli-SDK\rtos\rtthread\src\Kconfig
H:\individual\graduationProject\project\lvgl_v8_control\project\Kconfig.proj
H:\individual\graduationProject\project\lvgl_v8_control\project\build_sf32lb52-lchspi-ulp_hcpu\Kconfig
H:\individual\graduationProject\project\lvgl_v8_control\src\Kconfig
H:\individual\graduationProject\project\lvgl_v8_control\src\lv_demos\Kconfig
